body{
  font-family: Arial, Helvetica, sans-serif;
}

#socials {
	height: 84px;
	/*background: url(images/bar-bg.jpg) repeat-x;*/
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	/*padding-top: 20px;*/
	}
	ul#horizontal-list li {
		display: inline;
		padding-left: 10px;
		padding-right: 10px;
	}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

