*{
	box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}


#container{
	width: 100%;
}

ul#horizontal-list {
	width: 100%;
	list-style: none;
	padding: 5px 0px 5px 0px;
	padding-inline-start:0px;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;

	/*padding-top: 20px;*/
	}
	ul#horizontal-list li {
		width: 50px;
		height: 50px;
		display: inline;
	}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#header{
	margin: auto;
  	width: 80%;
  	border: 3px solid green;
  	padding: 10px;
}

#header h1 {
    margin:auto;
    vertical-align:middle;
    text-align: center;
}

#socials {
	height: 84px;
	margin: auto;
	width: 80%;
  	border: 3px solid green;
  	padding: 10px;
	/*background: url(images/bar-bg.jpg) repeat-x;*/
}

.row{
	margin: auto;
  	width: 80%;
  	border: 3px solid green;
  	padding: 10px;
  	background-color: white;
}
.blocks{
	background-color: white;
}
#aboutme{
	padding: 20px 20px;
	margin: 12px;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
#projects{
	padding: 20px 20px;
	margin: 12px;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
#eduexp{
	padding: 20px 20px;
	margin: 12px;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
#interests{
	padding: 20px 20px;
	margin: 12px;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
#footer{
	margin: auto;
  	width: 80%;
  	border: 3px solid green;
  	padding: 10px;
}








