body{
	 background-color: #fff8f9;
}
h1{
    margin:auto;
    vertical-align:middle;
    text-align: center;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}
}
pre{
	white-space: pre;
	display: block;
}
#snippet pre code {
    display: block;
    height: 20em;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}
.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #eaeef3;
    color: #00193a;
}
#snippet {
    float: left;
    width: 30em;
    padding: 1em;
    background: #500;
    border-width: 1px;
    border-style: solid;
    border-color: #400 #700 #700 #400;
}