body{
	 background-color: #fff8f9;
}
h1{
    margin:auto;
    vertical-align:middle;
    text-align: center;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}
#daylist{
	height: 50px;
	margin: auto;
	width: 65%;
  	border: 0px solid green;
  	padding: 0px 22px 0px 22px;
  	max-width: 960px;
  	text-align: center;
}
ul {
    display: inline-block;
    padding-left: 0;
    text-align: left;
}
li{
  list-style: none;
}
a{
  font-family: Helvetica, sans-serif;
}