<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../resources/highlight/styles/lioshi.css">
	<link rel="stylesheet" href="styles.css" />
	<script src="../resources/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<title>AoC 2020: Day XX</title>
</head>
<body>
<h1>AoC 2020: Day XX</h1>
<div id="container">
<div id="snippet">
	<pre>
		<code class="python">
#Reading inputs
with open('inputs/day1.txt') as f:
    input = f.readlines()
numlist=[]
for i in input:
    numlist.append(int(i.split("\n")[0]))

#First part
def day1part1(input):
    for i in range(len(input)):
        for j in range(i+1,len(input)):
            sum = input[i]+input[j]
            if sum == 2020:
                answer = input[i]*input[j]
    return answer

#Second part
def day1part2(input):
    for i in range(len(input)):
        for j in range(i+1,len(input)):
            for k in range(i+2,len(input)):
                sum = input[i]+input[j]+input[k]
                if sum == 2020:
                    answer = input[i]*input[j]*input[k]
    return answer
		</code>
	</pre>
</div>
<div id="description">
<p align="justify">Bacon ipsum dolor amet andouille rump meatball, ground round pork belly shoulder chuck. Salami porchetta jerky tongue pork loin. Buffalo salami ball tip, flank landjaeger frankfurter kevin ground round capicola tail strip steak. Rump bresaola chislic, flank short ribs doner short loin turkey ham hock cupim pancetta pork chop leberkas. Spare ribs kielbasa fatback, leberkas shoulder salami buffalo. Meatloaf shank venison ham, porchetta beef ribs boudin chislic tenderloin pork loin kevin andouille. Bacon porchetta andouille prosciutto.</p></br>
<p align="justify">Chicken ball tip swine, drumstick doner beef ribs alcatra corned beef ground round burgdoggen. Bresaola alcatra ham hock leberkas chicken pork loin fatback rump jerky t-bone sirloin porchetta shank tri-tip. Picanha salami sirloin pig, pork belly andouille landjaeger beef ribs burgdoggen pork chop kevin kielbasa. Biltong ribeye tongue pork t-bone ground round.ct of the numbers that add up to the requirement.
</p>
</div>
</div>
</body>
</html>